<!DOCTYPE html>
<html lang="en">
<head>
	<title>Company Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../css/vue.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/main_page.css">
</head>
<body>
	
	<nav id="header" class="menu one">
		<custom-header></custom-header>
	</nav>
	
	<div id="company-info" class="comp_reg room_reg">
		<div class="wrap-login100 reg_form">

			<form id="company_profile_form" class="login100-form validate-form reg_form_form">
				<span class="login100-form-title">
					Company profile
				</span>

				<div class="wrap-input100 validate-input">
					<label>Name</label>
					<input class="input100" style="padding-left:30px; border-radius:20px;" type="text" name="name" placeholder="Name" v-bind:value="company.name">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input">
					<label>Owner</label>
					<input class="input100" style="padding-left:30px; border-radius:20px;" type="text" name="square" placeholder="Owner" 
						   v-bind:value="company.owner.login" readonly>
					<span class="focus-input100"></span>
				</div>
				
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn" style="border-radius:20px;">
						Save
					</button>
				</div>
			</form>
			
			<form id="hire_form" style="width: 100%;">
				<br/>
				<br/>
				<span>Hire a worker:</span>
				<select style="font-size: 1em;" name="account_id">
					<option v-for="login of logins" v-bind:value="login.id">{{ login.login }}</option>
				</select>
				as
				<select style="font-size: 1em;" name="role_id">
					<option value="1">Worker</option>
					<option value="2">Manager</option>
				</select>
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" onclick="hireWorker" style="border-radius:20px;">
						Hire
					</button>
				</div>
			</form>
			
			<div>
				<br/>
				<br/>
				Workers:
				<worker v-for="work of workers" v-bind:worker_model="work"></worker>
			</div>
		</div>
	</div>
	
	<script src="../js/libs/jquery.js"></script>
	<script src="../js/libs/vue.js"></script>
	<script src="../js/vue_filters.js"></script>
	<script src="../js/libs/sha256.js"></script>
	<script src="../js/cookie.js"></script>
	<script src="../js/localize.js"></script>
	<script src="../js/session.js"></script>
	<script src="../js/role.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/company_profile.js"></script>

</body>
</html>